body{
    display: none;
    padding: 0%;
    margin: 0%;
}


#jogar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


img{
    height: 50px;
}

button{
    margin: 20px;
}

a{
    margin: 20px;
}

#btn_jogar{
    height: 50px;
    padding: 10px;
}